<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Texas Tribune Engineering</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='robots' content='noindex,nofollow' />
        <link rel="icon" type="image/png" sizes="48x48" href="https://www.texastribune.org/static/images/favicon-48x48.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.texastribune.org/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.texastribune.org/static/images/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.texastribune.org/static/images/apple-touch-icon.png">
        <meta name="description" content="Open source projects and blog posts by The Texas Tribune's engineering team.">
        <link rel="stylesheet" href={{ '/css/style.css' | url }}>
        {% block extraCSS %}{% endblock %}
    </head>
    <body>
        <div class="page-container">
            <div class="content-wrap">
                {% include "_header.njk" %}

                {{ content | safe }}
            </div>
            {% include "_footer.njk" %}
        </div>
    </body>
</html>
