---
layout: base.njk
---
<main>
  <article>
    <h1 class="post__title t-align-center t-serif has-tiny-btm-marg">{{ title }}</h1>
    <p class="t-byline t-align-center has-text-gray">
      <span class="t-byline__item l-display-ib">by {{ author }} </span>
      <time class="t-byline__item l-display-ib"> {{ date | readableDate }}</time>
    </p>
    <figure class="post__image">
        <img src="{{ image_url | url}}" alt="{{ image_alt }}" >
    </figure>
    <div class="post__content has-xl-padding t-serif">
        {{ content | safe }}
    </div>
  </article>
</main>

<nav aria-label="pagination" class="post-nav-container t-links t-uppercase t-lsp-b t-size-xs t-align-center t-weight-bold">
  <div class="post-nav">
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}
    <a href="{{ nextPost.url | url }}">
      <p class="has-text-teal">← Next Post</p>
    </a>
    {% endif %}
  </div>
  <div class="post-nav">
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
      <a href="{{ previousPost.url | url }}">
        <p class="has-text-teal">Previous Post →</p>
      </a>
    {% endif %}
  </div>
</nav>
