@import '@texastribune/queso-ui/assets/scss/1-settings/all';
@import '@texastribune/queso-ui/assets/scss/2-tools/all';
@import '@texastribune/queso-ui/assets/scss/3-resets/all';
@import '@texastribune/queso-ui/assets/scss/4-elements/all';
@import '@texastribune/queso-ui/assets/scss/5-typography/all';
@import '@texastribune/queso-ui/assets/scss/6-components/all';
@import '@texastribune/queso-ui/assets/scss/utilities/all';

.banner {
  margin: auto;
  justify-content: center;
  margin-bottom: 40px;

  .banner-items {
    .logo-container {
      max-width: 30%;
      margin: auto;

      @include mq($until: bp-xl) {
        max-width: 55%;
      }
    }
    margin: auto;
    @include mq($until: bp-xl) {
      width: 80%;
    }
  }
}

#typewriter {
  font-size:22px;
  padding-bottom:10px;
  font-family: $font-family-primary;
}

main {
  max-width: 70%;
  margin: auto;

  h2 {
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 70px;
  min-height:calc(100vh - 100px);
}

.grid-label {
  a:hover {
    color: $color-teal-gray;
  }
  h2 {
    @include mq($until: bp-l) {
      padding-top: 0px;
    }
  }
  @include mq($until: bp-l) {
    max-width: 70%;
    margin: auto;
  }
}

.link-container {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  width: 100%;
  padding-bottom:30px;
  grid-gap: 20px;

  @include mq($until: bp-l) {
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    justify-content: center;
  }

  @include mq($until: bp-m) {
    grid-template-columns: 1fr;
    padding-top: 10px;
    justify-content: center;
  }

  .card {
    margin: 10px;
    padding: 10px;
    height:100%;
    width: 90%;
    margin: auto;

    display: inline-block;
    flex-direction: column;
    align-content: space-between;
    
    @include mq($until: bp-m) {
      width: 70%;
    }
    p.t-links-underlined a {
      text-decoration: none;
      color: $color-black-off;
    }
  }


  .card:hover,
  .post-card:hover {
    box-shadow: 1px 1px $color-gray-light;
    transition: box-shadow 0.2s;
  }

  .post-card {
    display:flex;
    justify-content:space-between;
    width: 90%;
    height: 100%;
    margin: 15px;
    padding: 10px;
    margin: auto;

    @include mq($until: bp-m) {
      width: 70%;
    }

    &__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    &__image > img {
      max-width: 100%;
    }

    p.t-links-underlined-hover a {
      text-decoration: none;
      color: $color-black-off;
    }
  }
}

.post-feed-container {
  max-width: 70%;
  margin: auto;

  @include mq($until: bp-l) {
    max-width: 80%;
    margin: auto;
  }
}

.post-feed {
  list-style-type: none;

  &__image {
    float: left;
    > img {
      width: 100%;
    }
  }

  &__excerpt {
    padding-top: 10px;

    @include mq($until: bp-l) {
      display: none;
    }
  }
}

.post {
  &__content {
    max-width: 60%;
    margin: auto;
    padding-bottom: 5%;

    @include mq($until: bp-l) {
      max-width: 90%;
      margin: auto;
    }
  
    figure>img, video, .twitter-tweet {
      display:block;
      margin:auto;
      max-width:90%;
    }
  
    figure>figcaption {
      padding: $size-xs;
      color: $color-gray-dark;
      font-size: $size-xs;
      max-width: 41.5rem; 
      margin: auto;
    }

    pre {
      max-width: 41.5rem; 
      margin: 0 auto !important;
      padding:$size-xs;
    }
  }

  &__title {
    @include mq($until: bp-m) {
      font-size:$size-l;
    }
  }

  &__title, &__description, &__byline {
    padding-bottom:20px;
    width:50%;
    margin:auto;

    @include mq($until: bp-m) {
      width:70%;
      margin:auto;
    }
  }
  &__image > img {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 50%;
  }
}

.post-nav-container {
  display: flex;
  padding-bottom: 30px;
  .post-nav {
    flex: 1;
    a {
      text-decoration: none;
      color: $color-black-off;
    }
  }
}

.about {
  max-width: 80%;
  margin: auto;
}
