<nav class="c-navbar c-navbar--dark has-bg-black-off">
    <div class="c-navbar__top l-align-center-x c-navbar__top--home">
        <div class="c-navbar__content c-navbar__content--home">
            <ul class="c-navbar__items t-uppercase">
                <li class="c-navbar__item">
                    <a class="c-navbar__item-content c-navbar__clickable c-navbar__clickable--animated  t-size-xxs" href="/">
                        <strong>Home</strong>
                    </a>
                </li>
                <li class="c-navbar__item">
                    <a class="c-navbar__item-content c-navbar__clickable c-navbar__clickable--animated  t-size-xxs" href="/posts">
                        <strong>Blog</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>