---
layout: base.njk
permalink: /posts/
---

{% from "macros/post-feed-item.njk" import postFeedItem %} 

<main>
    {% set postlist = collections.posts %}
    <ul class="post-feed c-block-feed has-giant-btm-marg">
        {% for post in postlist | reverse %}
            {{ postFeedItem(post.data.title, post.data.author, post.data.image_url, post.data.image_alt, post.templateContent,  post.url) }}
        {% endfor %}
    </ul>
</main>