{% 
  macro postCard(
    title, 
    author,
    image_url, 
    image_alt,
    description, 
    url) 
%}
<a href="{{ url | url }}" >
    <div class="post-card is-rounded-b has-bg-white-off has-text-black-off t-align-center">
        <article class="post-link-card l-pos-rel has-xs-padding">
            <div class="post-card__text">
                <p class="post-card__title t-weight-bold t-size-m">
                    {{ title }}
                </p>
            </div>
            <div class="post-card__image has-xs-padding">
                <img src="{{ image_url | url}}" alt="{{ image_alt }}">
            </div>
        </article>
    </div>
</a>

{% endmacro %}
