{% 
  macro postCard(
    title, 
    author,
    image_url, 
    image_alt,
    description, 
    url) 
%}

<div class="post-card is-rounded-b has-bg-white-off has-text-black-off t-align-center">
    <article>
        <div class="post-card__text">
            <p class="post-card__title t-links-underlined-hover t-weight-bold t-size-m">
                <a href="{{ url | url}}">{{ title }}</a>
            </p>
        </div>
        <div class="post-card__image">
            <img src="{{ image_url | url}}" alt="{{ image_alt }}">
        </div>
    </article>
</div>

{% endmacro %}
