{% 
  macro postCard(
    title, 
    author,
    image_url, 
    image_alt,
    description, 
    url) 
%}

<div class="post-card is-rounded-b has-bg-white-off has-text-black-off t-align-center">
    <p class= "t-links-underlined-hover t-weight-bold t-size-m">
        <a href="{{ url | url}}">{{ title }}</a>
    </p>
    <p class="t-byline t-links t-lsp-m t-size-xs has-text-gray-dark">
            By {{ author }}
    </p>
    <div class="post-image"> 
        <img src="{{ image_url | url}}" alt="{{ image_alt }}">
    </div>
</div>

{% endmacro %}



