{% 
  macro projectCard(
    title, 
    project_url, 
    description) 
%}

<div class="card is-rounded-b has-bg-white-off has-text-black-off t-align-center">
    <p class="t-links-underlined t-weight-bold t-size-m">
        <a href="{{ project_url }}"> {{ title }} </a>
    </p>
    <div class="card__description">
        <p class= "t-size-s"> 
            {{ description }} 
        </p>
    </div>
</div>

{% endmacro %}