---
layout: base.njk
---

{% from "macros/post-card.njk" import postCard %}
{% from "macros/project-card.njk" import projectCard %}

<main>
    <section>
        <div class="grid-label t-serif">
            <a href="https://github.com/texastribune"><h2>Open source projects</h2></a>
            <div class="has-notch has-bg-yellow"></div>
        </div>
        <div class="card-grid">
            {% set projectslist = collections.projects%}
            {% for project in projectslist %}
                {{ projectCard(project.data.title, project.data.url, project.data.description) }}
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="grid-label t-serif">
            <a href="/posts/"> <h2>Latest from the blog</h2></a>
            <div class="has-notch has-bg-yellow"></div>
        </div>
        <div class="card-grid">
            {% set maxPosts = collections.posts.length | min(3) %}
            {% set postslist = collections.posts | head(-maxPosts) | reverse %}

            {% for post in postslist %}
                {{ postCard(post.data.title, post.data.author, post.data.image_url, post.data.image_alt, post.data.description, post.url, post.templateContent) }}
            {% endfor %}
        </div>
    </section>
</main>
