---
layout: base.njk
---

{% from "macros/post-card.njk" import postCard %}
{% from "macros/project-card.njk" import projectCard %}

<main class="l-container l-container--xxl">
    <section>
        <div class="grid-label t-serif">
            <a href="https://github.com/texastribune"><h2>Open source projects</h2></a>
            <div class="has-notch has-bg-yellow has-s-btm-marg"></div>
        </div>
        <div class="card-grid">
            {% set projectslist = collections.projectsAlpha %}
            {% for project in projectslist %}
                {{ projectCard(project.data.title, project.data.url, project.data.description) }}
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="grid-label t-serif">
            <a href="/posts/"> <h2>Reflections from Engineering Fellows</h2></a>
            <div class="has-notch has-bg-yellow has-s-btm-marg"></div>
        </div>
        <div class="card-grid blog">
            {% set maxPosts = collections.posts.length | min(3) %}
            {% set postslist = collections.posts | reverse %}

            {% for post in postslist %}
                {{ postCard(post.data.title, post.data.author, post.data.image_url, post.data.image_alt, post.data.description, post.url, post.templateContent) }}
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="grid-label t-serif">
            <a href="/engineering/"> <h2>Reflections from Engineering</h2></a>
            <div class="has-notch has-bg-yellow has-s-btm-marg"></div>
        </div>
        <div class="card-grid">
            {% set maxPosts = collections.eng_posts.length | min(1) %}
            {% set postslist = collections.eng_posts | reverse %}

            {% for post in postslist %}
                {{ projectCard(post.data.title, post.url, post.data.description) }}
            {% endfor %}
        </div>
    </section>
</main>
